$color-black: #000000;
$color-white: #FFFFFF;

$color-primary: #409EFF;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

$text-color-base: #303133;
$text-color-dark: #606266;
$text-color-gray: #909399;
$text-color-placeholder: #C0C4CC;

$bg-color-body: #F8F8F8;

$spacing-mini: 4px;
$spacing-super-small: 8px;
$spacing-extra-small: 12px;
$spacing-small: 16px;
$spacing-base: 24px;
$spacing-large: 32px;
$spacing-extra-large: 48px;
$spacing-super-large: 56px;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$border-color-base: #DCDFE6;
$border-radius-base: 4px;
$border-radius-circle: 100%;

$font-weight-base: 400;
$font-family-base: Arial, Helvetica, sans-serif;
